<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <link rel="stylesheet" href="jquery.datetimepicker.min.css">


    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <title>Document</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
              </li>
            </ul>
            
          </div>
        </div>
      </nav>

    <div class="inner-layer">
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <div class="content">
                        <h1>Turnos</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, nulla nemo, nisi provident dolor quos impedit dicta perferendis eum facere ipsum natus nihil, quo tempore culpa nostrum. Assumenda, ipsum unde.</p>
                    </div>
                </div>

                <div class="col-sm-5">
                    <div class="form-data">
                        <div class="form-head">
                            <h2>Elegi tu turno</h2>
                        </div>

                        <div class="form-body">
                            <div class="row form-row">
                                <input type="text" placeholder="Nombre Completo" class="form-control">
                            </div>

                            <div class="row form-row">
                                <input type="text" placeholder="Email" class="form-control">
                            </div>

                            <div class="row form-row">
                                <input type="text" placeholder="Numero de telefono" class="form-control">
                            </div>

                            <div class="row form-row">
                                <input id="date" type="text" placeholder="Fecha" class="form-control">
                            </div>

                            <button class="btn btn-success btn-appointment">
                                Confirmar turno
                            </button>

                        </div>
                        
                    </div>
                </div>

            </div>
        </div>
    </div>




    


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>


    <script>
        $('#date').datepciker({
            timepicker: false,
            datepciker: true,
            format: 'y-m-d',
            value: '2021-1-29',
            weeks: true,

        });
    </script>

</body>
</html>